.header_main{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:10px 30px;
    color:white;
    box-shadow:0px 4px 20px rgba(0, 0, 0, 0.15);
}
.header_left{
    flex:0.1;
}
.header_left img{
    width:130px;
    height: 50px;
}
.header_center{
    flex:0.2;
}
.search_div{
    background-color: white;
    border-radius: 20px;
    color:black;
    padding:5px 5px;
}
.search_input{
    border: none;
    outline: none;
    width:90%;
}
.header_right{
    flex:0.1;
}
/* home2 div*/
.home2{
    display: flex;
}

/*Sidebar*/
.sidebar_main{
    padding-top: 50px;
    width:17%;
    height: 91vh;
    color:white;
   
}
.side_mini{
    display: flex;
    align-items:center;
    justify-content:left;
    border-radius: 0px 25px 25px 0;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 18px;
}
.side_mini p{
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 20px;
}
.side_mini:hover{
    color:#1DB954;
}
.side_mini.active{
    background-color: #1DB954;
}
.side_mini.active:hover{
    background-color: #171717;
}

.home_right{
    width:83%;
    height: 91vh;
    overflow-y: scroll;
}
